@import "tailwindcss";


/* Scrollbar مخصص لأفقي */
.custom-scroll::-webkit-scrollbar {
  height: 4px; /* ارتفاع السكروول */
}

.custom-scroll::-webkit-scrollbar-track {
  background-color:none; /* لون الخلفية الرمادي */
  border-radius: 4px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #888; /* لون المقبض */
  border-radius: 4px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #aaa; /* عند المرور عليه */
}


